.sonar
.svn
.generated
*.suo
*.user
_ReSharper.*
bin
obj
docs
*.exe
!NuGet.exe
*.dll
*.jar
*.war
*.orig
run*Sonar.bat
.sonar
*.DotSettings
content/packages/
lo/packages/
lo/D2L.LE.LO/node_modules/
D2L.LE/TestResults/D2L.LE.TE.Tests.mdf
D2L.LE/TestResults/D2L.LE.TE.Tests_log.ldf
*.log
*.mf
*.sbt
*.jf
*.mdf
*.ldf
